﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/package-lock.json
/test.js
/.vs/ashesofcreation.wiki.bot/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.node-xmlhttprequest-sync-96
/config.json
/.vs/ashesofcreation.wiki.bot/config